@media (max-width: 1200px) {
  .info_title {
    margin: 0; }

  .section_link.rowed {
    font-size: 20px; }

  .header {
    height: 545px;
    padding-top: 90px; }
    .header .header_inner {
      margin-right: 0;
      padding-left: 50px;
      box-sizing: border-box; }
      .header .header_inner .header_inner_title {
        font-size: 50px; }
      .header .header_inner .header_inner_author {
        margin: 40px 0; }

  .info_description {
    line-height: 25px; }

  #section_1 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 410px; }
    #section_1 .right_column {
      width: 50%;
      padding-left: 80px;
      box-sizing: border-box;
      padding-bottom: 49px; }
    #section_1 .info_box {
      max-width: 315px;
      height: auto;
      padding-top: 60px;
      box-sizing: border-box; }
    #section_1 img {
      height: 410px;
      max-width: 495px; }

  #section_2 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 410px; }
    #section_2 .right_column {
      width: auto;
      padding-left: 80px;
      box-sizing: border-box;
      padding-bottom: 49px; }
    #section_2 .left_column {
      margin-left: 60px; }
    #section_2 .info_box {
      max-width: 315px;
      height: auto;
      padding-top: 60px;
      box-sizing: border-box; }
    #section_2 img {
      height: 410px;
      max-width: 495px; }

  #section_3 .slide_description {
    top: 37px; }

  #section_5 {
    height: auto; }
    #section_5 .section_link {
      margin: 20px 0 60px; }

  .slider_box {
    max-width: 795px; }

  .video_box {
    max-width: 795px; }
    .video_box .landing_video {
      height: 455px; }

  .map_box {
    max-width: 795px; }
    .map_box iframe {
      height: 455px; }

  .massonry[data-columns]::before {
    content: '3 .col-lg-4'; }

  #section_7 {
    margin-top: 30px; }
    #section_7 .info_title {
      margin-left: 105px; }
    #section_7 p {
      margin-left: 110px; }
    #section_7 .section_link.rowed.col_green {
      margin-left: 110px; }

  #section_8 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 350px; }
    #section_8 .right_column {
      width: 50%;
      padding-left: 80px;
      box-sizing: border-box;
      padding-bottom: 49px; }
    #section_8 .info_box {
      max-width: 315px;
      height: auto;
      padding-top: 60px;
      box-sizing: border-box; }
    #section_8 img {
      height: 350px;
      width: 495px; }

  #section_9 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 345px; }
    #section_9 .right_column {
      width: auto;
      padding-left: 80px;
      box-sizing: border-box;
      padding-bottom: 49px; }
    #section_9 .left_column {
      margin-left: 60px; }
    #section_9 .info_box {
      max-width: 315px;
      height: auto;
      padding-top: 60px;
      box-sizing: border-box; }
    #section_9 img {
      height: 350px;
      width: 495px; }

  #section_10 {
    height: 350px; }
    #section_10 .left_column {
      left: -140px; }
    #section_10 img {
      height: 350px; }
    #section_10 .right_column {
      width: 50%;
      padding-left: 80px;
      box-sizing: border-box;
      padding-bottom: 49px; }
    #section_10 .info_box {
      max-width: 315px;
      height: auto;
      padding-top: 60px;
      box-sizing: border-box; }

  #section_11 {
    height: 350px; }
    #section_11 .left_pic {
      height: 350px;
      left: -80px; }
      #section_11 .left_pic img {
        height: 100%; }
    #section_11 .right_pic {
      height: 350px;
      right: -75px; }
      #section_11 .right_pic img {
        height: 100%; }
    #section_11 .section_title_set {
      left: 260px; }

  #section_12 .interview_inner {
    padding: 0 110px; }

  #section_13 .interview_inner {
    padding: 0 110px; }

  #section_14 {
    padding-top: 60px; }
    #section_14 .management_box {
      padding: 0; }
    #section_14 .info_title {
      margin: 0 0 50px 108px; }

  #section_15 {
    padding-top: 60px; }
    #section_15 .latest_box {
      padding: 0 15px; }
    #section_15 .info_title {
      margin: 0 0 50px 108px; }

  .footer {
    padding-top: 75px;
    box-sizing: border-box; }
    .footer .info_title {
      margin: 0 0 50px 108px; }
    .footer .foot_top .soc_list {
      margin-left: 105px; }
      .footer .foot_top .soc_list .soc_link {
        font-size: 35px; }
    .footer .copyright {
      padding: 0 110px;
      box-sizing: border-box; } }
@media (max-width: 991px) {
  .header .header_inner {
    padding-left: 140px; }
    .header .header_inner .header_inner_title {
      font-size: 42px; }

  #section_1 {
    height: auto;
    padding-bottom: 50px; }
    #section_1 .left_column {
      position: static;
      text-align: center; }
    #section_1 .right_column {
      width: 100%;
      padding: 0; }
    #section_1 .info_box {
      margin: 0 auto;
      float: none; }

  #section_2 {
    height: auto;
    padding-bottom: 50px; }
    #section_2 .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    #section_2 .right_column {
      position: static;
      text-align: center;
      padding: 0;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    #section_2 .left_column {
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    #section_2 .info_box {
      margin: 0 auto;
      float: none; }

  .fake_btn {
    display: none; }

  #section_3 .slick-dots {
    display: block !important; }
  #section_3 .info_title {
    margin-left: 90px;
    position: relative; }
  #section_3 .slider_box {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: 0;
    position: relative; }

  #section_4 {
    height: auto;
    padding: 70px 0;
    box-sizing: content-box; }
    #section_4 .slider_box {
      position: static;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
      #section_4 .slider_box .slide p {
        font-size: 22px; }

  #section_5 {
    padding-top: 50px; }
    #section_5 .video_box .landing_video {
      height: auto; }
    #section_5 .section_link {
      margin-bottom: 30px; }

  .massonry[data-columns]::before {
    content: '2 .col-md-6'; }

  #section_7 {
    text-align: center; }
    #section_7 .info_title {
      display: inline-block;
      margin-left: 0; }
      #section_7 .info_title::before {
        left: 77px;
        top: -20px; }
    #section_7 p {
      margin-top: 25px;
      margin-left: 20px;
      text-align: left; }
    #section_7 .section_link.rowed.col_green {
      margin-left: 20px; }

  #section_8 {
    height: auto;
    padding-bottom: 50px; }
    #section_8 .left_column {
      position: static;
      text-align: center; }
    #section_8 .right_column {
      width: 100%;
      padding: 0; }
    #section_8 .info_box {
      margin: 0 auto;
      float: none; }

  #section_9 {
    height: auto;
    padding-bottom: 50px; }
    #section_9 .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    #section_9 .right_column {
      position: static;
      text-align: center;
      padding: 0;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    #section_9 .left_column {
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    #section_9 .info_box {
      margin: 0 auto;
      float: none; }

  #section_10 {
    height: auto;
    padding-bottom: 50px; }
    #section_10 .left_column {
      position: static;
      text-align: center; }
    #section_10 .right_column {
      width: 100%;
      padding: 0; }
    #section_10 .info_box {
      margin: 0 auto;
      float: none; }

  #section_11 {
    height: auto;
    padding-bottom: 70px; }
    #section_11 .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    #section_11 .left_pic {
      display: none; }
    #section_11 .section_title_set {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      position: static;
      padding-left: 20px; }
    #section_11 .right_pic {
      width: 100%;
      right: 0;
      text-align: center;
      position: static;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }

  #section_12 .interview_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    max-width: 320px;
    margin: 0 auto; }
    #section_12 .interview_inner .left_column {
      text-align: center; }
    #section_12 .interview_inner .right_column {
      width: 100%;
      padding-top: 25px; }

  #section_13 .interview_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    max-width: 320px;
    margin: 0 auto; }
    #section_13 .interview_inner .right_column {
      text-align: center;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    #section_13 .interview_inner .left_column {
      width: 100%;
      padding-top: 25px;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }

  #section_14 .management_box {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #section_14 .management_box .management-box__item {
      margin: 0 auto; }

  #section_15 .latest_box {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #section_15 .latest_box .latest-box__item {
      margin: 0 auto; } }
@media (max-width: 768px) {
  .container {
    width: auto; }

  .header {
    background: url("../images/mobile_header_bg.jpg");
    background-size: cover;
    height: auto;
    padding: 40px 0; }
    .header .mobile_img {
      display: block;
      margin: 0 auto; }
    .header .header_inner {
      padding: 0;
      max-width: 100%;
      width: 100%;
      text-align: center;
      float: none; }
      .header .header_inner .header_inner_title {
        max-width: 320px;
        margin: 0 auto; }
      .header .header_inner .header_inner_author {
        margin: 15px 0 30px; }
    .header .section_link {
      margin: 0 auto;
      margin-top: 20px; }

  .info_title {
    font-size: 22px; }
    .info_title::before {
      left: 77px;
      top: -20px; }

  .info_description {
    font-size: 16px; }

  #section_1 .info_box {
    width: 100%;
    max-width: 100%;
    position: static;
    padding: 60px 25px 0; }

  #section_2 .container {
    padding: 0; }
  #section_2 .info_box {
    width: 100%;
    max-width: 100%;
    position: static;
    padding: 60px 25px 0; }

  #section_3 {
    height: auto;
    padding-bottom: 65px;
    padding-top: 70px; }
    #section_3 .info_title {
      width: 100%;
      text-align: left;
      padding: 0 25px;
      margin-bottom: 40px;
      margin-left: 0;
      box-sizing: border-box; }
      #section_3 .info_title::before {
        left: 102px; }

  #section_4 .slider_box {
    max-width: 320px; }

  .video_box {
    max-width: 100%; }

  .slider_box {
    position: static;
    width: 100%;
    max-width: 100%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

  .massonry[data-columns]::before {
    content: '1 .col-xs-12'; }

  #section_6 .info_title {
    margin-left: 15px; }

  #section_7 {
    height: auto;
    margin-top: 0; }
    #section_7 .info_title {
      width: 100%;
      text-align: left;
      padding: 0 25px;
      margin-bottom: 40px; }
      #section_7 .info_title::before {
        left: 102px; }
    #section_7 .map_box {
      max-width: 100%; }
      #section_7 .map_box iframe {
        height: 360px; }
    #section_7 p {
      width: 100%;
      max-width: 100%;
      padding: 0 25px;
      margin: 25px auto 0; }

  .section_link.rowed {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

  #section_8 .info_box {
    width: 100%;
    max-width: 100%;
    position: static;
    padding: 60px 25px 0; }

  #section_9 .container {
    padding: 0; }
  #section_9 .info_box {
    width: 100%;
    max-width: 100%;
    position: static;
    padding: 60px 25px 0; }

  #section_10 .info_box {
    width: 100%;
    max-width: 100%;
    position: static;
    padding: 60px 25px 0; }
  #section_10 img {
    position: relative;
    left: -205px; }

  #section_12 .interview_inner {
    max-width: 100%; }
    #section_12 .interview_inner .right_column {
      padding: 25px; }

  #section_13 .interview_inner {
    max-width: 100%; }
    #section_13 .interview_inner .right_column {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    #section_13 .interview_inner .left_column {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      padding: 25px; }

  #section_14 .info_title {
    width: 100%;
    text-align: left;
    padding: 0 25px;
    margin-left: 0; }
    #section_14 .info_title::before {
      left: 102px; }
  #section_14 .management_box .management-box__item {
    margin-bottom: 50px; }

  #section_15 .info_title {
    width: 100%;
    text-align: left;
    padding: 0 25px;
    margin-left: 0; }
    #section_15 .info_title::before {
      left: 102px; }
  #section_15 .latest_box .latest-box__item {
    margin-bottom: 40px; }

  .footer {
    padding-top: 45px; }
    .footer .foot_top .row {
      padding-top: 25px; }
    .footer .foot_top .info_title {
      width: 100%;
      text-align: left;
      padding: 0 25px;
      margin-left: 0; }
      .footer .foot_top .info_title::before {
        left: 102px; }
    .footer .foot_top .soc_list {
      margin-left: 25px; }
    .footer .copyright {
      padding: 0 25px;
      font-size: 14px; } }
@media (max-width: 544px) {
  .container {
    width: 100%;
    box-sizing: border-box; }

  .section_link.red {
    width: 185px; }

  .header .mobile_img {
    max-width: 375px;
    position: relative;
    left: -20px; }

  #section_1 .left_column {
    position: relative;
    left: 0;
    top: 0; }
  #section_1 .info_box {
    max-width: 375px;
    float: left; }
  #section_1 .info_description {
    max-width: 275px; }
  #section_1 img {
    max-height: 360px; }

  #section_2 .info_box {
    max-width: 375px;
    float: left; }
  #section_2 .info_description {
    max-width: 275px; }
  #section_2 img {
    max-height: 360px; }

  .slider_box .slide img {
    max-height: 360px; }

  #section_3 .slide_description {
    padding: 0 25px;
    box-sizing: border-box;
    top: 0;
    width: 100%; }
    #section_3 .slide_description span {
      text-align: left; }
  #section_3 .slider_box .slide img {
    padding-top: 10px; }

  #section_6 {
    padding: 10px 15px 70px; }

  #section_7 p {
    max-width: 275px; }

  #section_8 img {
    width: 100%; }

  #section_9 img {
    width: 100%; }

  #section_11 .right_pic {
    overflow: hidden; }
  #section_11 img {
    display: none; }
  #section_11 img.section_mobile_pic {
    display: block;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  #section_11 .big_title {
    font-size: 22px; }

  #section_12 .interview_inner .right_column {
    box-sizing: border-box; }

  #section_13 .interview_inner .right_column {
    box-sizing: border-box; }

  .foot_bottom {
    line-height: 65px; } }

/*# sourceMappingURL=responsive.css.map */
