/*=========================================================================*/
/*============================== Contain =======================================*/
/*=========================================================================*/
@import url(grid.css);
@import url(libs.css);
/* mixins */
/* /// mixins */
/* variables */
/* /// variables */
/* Fonts */
@import url(responsive.css);
@font-face {
  font-family: 'Baskerville';
  src: url("../fonts/baskerville/BaskervilleBT-Italic.eot");
  src: url("../fonts/baskerville/BaskervilleBT-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/baskerville/BaskervilleBT-Italic.woff2") format("woff2"), url("../fonts/baskerville/BaskervilleBT-Italic.woff") format("woff"), url("../fonts/baskerville/BaskervilleBT-Italic.ttf") format("truetype"), url("../fonts/baskerville/BaskervilleBT-Italic.svg#BaskervilleBT-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/myriad/MyriadPro-Regular.eot");
  src: url("../fonts/myriad/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/myriad/MyriadPro-Regular.woff") format("woff"), url("../fonts/myriad/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/myriad/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/Ubuntu.eot");
  src: url("../fonts/ubuntu/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/Ubuntu.woff2") format("woff2"), url("../fonts/ubuntu/Ubuntu.woff") format("woff"), url("../fonts/ubuntu/Ubuntu.ttf") format("truetype"), url("../fonts/ubuntu/Ubuntu.svg#Ubuntu") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Fonts */
/* All */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro';
  font-weight: normal; }

iframe {
  border: none !important; }

.section_link {
  font-family: 'Baskerville';
  display: block;
  text-decoration: none;
  text-align: center; }

.section_link.rowed {
  text-align: left;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .section_link.rowed i {
    font-size: 30px;
    position: relative;
    top: 3px;
    left: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .section_link.rowed:hover {
    text-decoration: underline; }
    .section_link.rowed:hover i {
      left: 20px; }

.section_link.rowed.col_red {
  color: #ff3f43; }

.section_link.rowed.col_blue {
  color: #02bde2; }

.section_link.rowed.col_green {
  color: #1ab26b; }

.section_link.red {
  color: #fff;
  font-size: 24px;
  background: #ff3f43;
  height: 70px;
  width: 190px;
  line-height: 70px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .section_link.red:hover {
    -webkit-opacity: 0.8;
    opacity: 0.8; }

h1 {
  margin: 0; }

.empty {
  height: 390px; }

/* /// All */
/* Header */
.header {
  height: 690px;
  background: url("../images/header_bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 180px;
  box-sizing: border-box; }

.header_inner {
  max-width: 465px;
  float: right;
  margin-right: 40px; }

.header_inner_author {
  font-family: 'Ubuntu';
  color: #333333;
  font-size: 24px;
  margin: 40px 0 50px;
  display: inline-block; }

.header_inner_title {
  font-size: 60px;
  text-transform: uppercase;
  color: #333333; }

/* /// Header */
/* Section_1 */
#section_1 {
  height: 550px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  #section_1 .left_column {
    position: absolute;
    left: 0;
    top: 0; }
  #section_1 .right_column {
    float: right; }

.info_title {
  position: relative; }
  .info_title::before {
    content: "";
    display: block;
    width: 75px;
    height: 5px;
    background: #ff3f43;
    position: absolute;
    left: -15px;
    top: 10px;
    -webkit-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }

.info_box {
  max-width: 445px;
  width: 100%;
  height: 300px;
  float: left;
  font-family: 'Ubuntu';
  color: #666666;
  position: relative;
  right: -30px; }

.info_description {
  font-size: 16px;
  line-height: 2; }

/* /// Section_1 */
/* Section_2 */
#section_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 545px;
  background: #e7f3f8;
  position: relative; }
  #section_2 .info_title::before {
    content: "";
    background: #02bde2; }
  #section_2 .info_box {
    float: left;
    margin: 0; }
  #section_2 .left_column {
    float: left;
    margin-left: 90px; }
  #section_2 .right_column {
    position: absolute;
    right: 0;
    top: 0; }

/* /// Section_2 */
/* Section_3 */
#section_3 {
  height: 865px;
  position: relative; }

.slider_box {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .slider_box .slide {
    width: 100%; }
    .slider_box .slide img {
      margin: 0 auto;
      display: block; }
    .slider_box .slide p {
      max-width: 580px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: 'Baskerville'; }

.fake_prev, .fake_next {
  position: absolute;
  left: -95px;
  top: 50%;
  height: 55px;
  width: 55px;
  border: 2px solid #666666;
  font-size: 45px;
  color: #ff3f43;
  background: transparent;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .fake_prev i, .fake_next i {
    position: relative;
    left: 20px;
    top: -1px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .fake_prev:hover i, .fake_next:hover i {
    left: 13px; }

.fake_next {
  left: auto;
  right: -95px; }
  .fake_next i {
    left: auto !important;
    position: relative;
    right: 20px;
    top: -1px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .fake_next:hover i {
    right: 13px; }

/* /// Section_3 */
/* Section_4 */
#section_4, #section_8 {
  height: 510px;
  background: #fff9f4;
  position: relative; }
  #section_4 .slide img, #section_8 .slide img {
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #section_4 .slide .comment_name, #section_8 .slide .comment_name {
    color: #ff3f43;
    font-family: 'Ubuntu';
    font-size: 16px;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 25px; }
  #section_4 .slide .comment_anno, #section_8 .slide .comment_anno {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #666666;
    display: block;
    text-align: center;
    max-width: 255px;
    margin: 0 auto;
    margin-top: 20px; }

/* /// Section_4 */
/* Section_5 */
#section_5 {
  height: 825px;
  padding-top: 95px;
  box-sizing: border-box; }
  #section_5 .section_link {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 70px; }

.video_box {
  position: relative;
  max-width: 980px;
  margin: 0 auto; }
  .video_box .video_overlay {
    position: absolute;
    background: rgba(40, 61, 82, 0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9; }
    .video_box .video_overlay.played {
      background: transparent; }
  .video_box .playPause {
    width: 95px;
    height: 95px;
    border: 1px solid #fff;
    background: transparent;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ff3f43;
    font-size: 60px; }
    .video_box .playPause i {
      position: relative;
      left: 3px; }

/* /// Section_5 */
/* Section_6 */
#section_6 {
  height: 1110px;
  background: #02bde2; }

/* /// Section_6 */
/* Section_7 */
#section_7 {
  height: 1010px; }
  #section_7 p {
    margin: 0;
    margin-left: 90px;
    margin-top: 55px;
    color: #666666;
    font-size: 16px;
    font-family: 'Ubuntu';
    max-width: 475px;
    line-height: 25px; }

/* /// Section_7 */
/* Section_8 */
/* /// Section_8 */
/* Section_9 */
#section_9 {
  background: #e7f3f8; }

/* /// Section_9 */
/* footer */
.footer {
  margin-top: -390px;
  height: 390px;
  background: #02bde2; }

.foot_bottom {
  background: #00a9cb;
  height: 75px; }

/* /// footer */

/*# sourceMappingURL=style.css.map */
