@mixin flex()
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@mixin align-items($old, $new)
{
    -webkit-box-align: $old;
    -webkit-align-items: $new;
        -ms-flex-align: $old;
            align-items: $new;
}
@mixin flex-wrap()
{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@mixin flex-direction($old, $new)
{
    -webkit-box-orient: $old;
    -webkit-flex-direction: $new;
        -ms-flex-direction: $new;
            flex-direction: $new;
}
@mixin order($position)
{
    -webkit-box-ordinal-group: $position;
    -webkit-order: $position;
        -ms-flex-order: $position;
            order: $position;
}
@mixin transform($type, $count)
{
    -webkit-transform: $type + '(' + $count + ')';
    -ms-transform: $type + '(' + $count + ')';
        transform: $type + '(' + $count + ')';
}


@media (max-width: 1200px)
{
    .info_title
    {
        margin: 0;
    }
    .section_link.rowed
    {
        font-size: 20px;
    }
    .header
    {
        height: 545px;
        padding-top: 90px;

        .header_inner
        {
            margin-right: 0;
            padding-left: 50px;
            box-sizing: border-box;

            .header_inner_title
            {
                font-size: 50px;
            }
            .header_inner_author
            {
                margin: 40px 0;
            }
        }
    }
    .info_description
    {
        line-height: 25px;
    }
    #section_1
    {
        @include align-items(start, flex-start);
        height: 410px;

        .right_column
        {
            width: 50%;
            padding-left: 80px;
            box-sizing: border-box;
            padding-bottom: 49px;
        }
        .info_box
        {
            max-width: 315px;
            height: auto;
            padding-top: 60px;
            box-sizing: border-box;
        }

        img{
            height: 410px;
            max-width: 495px;
        }
    }
    #section_2
    {
        @include align-items(start, flex-start);
        height: 410px;

        .right_column
        {
            width: auto;
            padding-left: 80px;
            box-sizing: border-box;
            padding-bottom: 49px;
        }
        .left_column
        {
            margin-left: 60px;
        }
        .info_box
        {
            max-width: 315px;
            height: auto;
            padding-top: 60px;
            box-sizing: border-box;
        }

        img{
            height: 410px;
            max-width: 495px;
        }
    }
    #section_5
    {
        height: auto;
        
        .section_link
        {
            margin: 20px 0 60px;
        }
    }
    .slider_box
    {
        max-width: 795px;
    }
    .video_box
    {
        max-width: 795px;

        .landing_video
        {
            height: 455px;
        }
    }

    .map_box
    {
        max-width: 795px;

        iframe
        {
            height: 455px;
        }
    }

    #section_7
    {
        margin-top: 30px;
        
        .info_title
        {
            margin-left: 105px;
        }

        p{
            margin-left: 110px;
        }

        .section_link.rowed.col_green
        {
            margin-left: 110px;
        }
    }

    #section_8
    {
        @include align-items(start, flex-start);
        height: 350px;

        .right_column
        {
            width: 50%;
            padding-left: 80px;
            box-sizing: border-box;
            padding-bottom: 49px;
        }
        .info_box
        {
            max-width: 315px;
            height: auto;
            padding-top: 60px;
            box-sizing: border-box;
        }

        img{
            height: 350px;
            width: 495px;
        }
    }
    #section_9
    {
        @include align-items(start, flex-start);
        height: 345px;

        .right_column
        {
            width: auto;
            padding-left: 80px;
            box-sizing: border-box;
            padding-bottom: 49px;
        }
        .left_column
        {
            margin-left: 60px;
        }
        .info_box
        {
            max-width: 315px;
            height: auto;
            padding-top: 60px;
            box-sizing: border-box;
        }

        img{
            height: 350px;
            width: 495px;
        }
    }
    #section_10
    {
        height: 350px;

        .left_column
        {
            left: -140px;
        }
        img{
            height: 350px;
        }
        .right_column
        {
            width: 50%;
            padding-left: 80px;
            box-sizing: border-box;
            padding-bottom: 49px;
        }
        .info_box
        {
            max-width: 315px;
            height: auto;
            padding-top: 60px;
            box-sizing: border-box;
        }
    }
    #section_11
    {
        height: 350px;
        
        .left_pic
        {
            height: 350px;
            left: -80px;

            img
            {
                height: 100%;
            }
        }
        .right_pic
        {
            height: 350px;
            right: -75px;

            img
            {
                height: 100%;
            }
        }
        .big_title
        {
            left: 260px;
        }
    }
    #section_12
    {
        .interview_inner
        {
            padding: 0 110px;
        }
    }
    #section_13
    {
        .interview_inner
        {
            padding: 0 110px;
        }
    }
    #section_14
    {
        padding-top: 60px;

        .management_box
        {
            padding: 0;
        }
        .info_title
        {
            margin: 0 0 50px 108px;
        }
    }
    #section_15
    {
        padding-top: 60px;

        .latest_box
        {
            padding: 0 15px;
        }
        .info_title
        {
            margin: 0 0 50px 108px;

        }
    }
    .footer
    {
        padding-top: 75px;
        box-sizing: border-box;

        .info_title
        {
            margin: 0 0 50px 108px;
        }
        .foot_top
        {
            .soc_list
            {
                margin-left: 105px;

                .soc_link
                {
                    font-size: 35px;
                }
            }
        }
        .copyright
        {
            padding: 0 110px;
            box-sizing: border-box;
        }
    }
}
@media (max-width: 991px)
{
    #section_1
    {
        height: auto;
        padding-bottom: 50px;

        .left_column
        {
            position: static;
            text-align: center;
        }
        .right_column
        {
            width: 100%;
            padding: 0;
        }
        .info_box
        {
            margin: 0 auto;
            float: none;
        }
    }
    #section_2
    {
        height: auto;
        padding-bottom: 50px;

        .container
        {
            @include flex();
            @include flex-direction(vertical, column);
        }

        .right_column
        {
            position: static;
            text-align: center;
            padding: 0;
            @include order(1);
        }
        .left_column
        {
            width: 100%;
            padding: 0;
            margin: 0;
            @include order(2);
        }
        .info_box
        {
            margin: 0 auto;
            float: none;
        }
    }

    .fake_btn
    {
        display: none;
    }
    #section_3
    {
        .slick-dots
        {
            display: block !important;
        }
    }
    #section_4
    {
        height: auto;
        padding: 70px 0;
        box-sizing: content-box;

        .slider_box
        {
            position: static;
            @include transform(translate, (0,0));

            .slide
            {
                p{
                    font-size: 22px;
                }
            }
        }
    }
    #section_5
    {
        padding-top: 50px;

        .video_box
        {
            .landing_video
            {
                height: auto;
            }
        }
        .section_link
        {
            margin-bottom: 30px;
        }
    }
}