/*=========================================================================*/
/*============================== Contain =======================================*/
/*=========================================================================*/
@import 'grid.css';
@import 'libs.css';

/* mixins */
@mixin border-radius($radius)
{
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
@mixin transition($speed, $type)
{
    -webkit-transition: $speed $type;
    -o-transition: $speed $type;
    transition: $speed $type;
}
@mixin background-img($name)
{
    background: url('../images/' + $name) no-repeat center center;
    background-size: cover;
}
@mixin opacity($level)
{
    -webkit-opacity: $level;
    opacity: $level;
}
@mixin flex()
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@mixin align-items($old, $new)
{
    -webkit-box-align: $old;
    -webkit-align-items: $new;
        -ms-flex-align: $old;
            align-items: $new;
}
@mixin flex-wrap()
{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@mixin flex-direction($old, $new)
{
    -webkit-box-orient: $old;
    -webkit-flex-direction: $new;
        -ms-flex-direction: $new;
            flex-direction: $new;
}
@mixin transform($type, $count)
{
    -webkit-transform: $type + '(' + $count + ')';
    -ms-transform: $type + '(' + $count + ')';
        transform: $type + '(' + $count + ')';
}
@mixin justify($old, $new)
{
    -webkit-box-pack: $old;
    -webkit-justify-content: $new;
        -ms-flex-pack: $old;
            justify-content: $new;
}
@mixin border-radius($deg)
{
    -webkit-border-radius: $deg;
            border-radius: $deg;
}


/* /// mixins */

/* variables */
$green_section: #e7f3f8;
$light_pink_section: #fff9f4;
$blue_section: #02bde2;
$black_color: #333333;
$red_color: #ff3f43;
$green_color: #1ab26b;
/* /// variables */

/* Fonts */
@font-face {
    font-family: 'Baskerville';
    src: url('../fonts/baskerville/BaskervilleBT-Italic.eot');
    src: url('../fonts/baskerville/BaskervilleBT-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/baskerville/BaskervilleBT-Italic.woff2') format('woff2'),
        url('../fonts/baskerville/BaskervilleBT-Italic.woff') format('woff'),
        url('../fonts/baskerville/BaskervilleBT-Italic.ttf') format('truetype'),
        url('../fonts/baskerville/BaskervilleBT-Italic.svg#BaskervilleBT-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad/MyriadPro-Regular.eot');
    src: url('../fonts/myriad/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/myriad/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/myriad/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu.eot');
    src: url('../fonts/ubuntu/Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/Ubuntu.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu.ttf') format('truetype'),
        url('../fonts/ubuntu/Ubuntu.svg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fonts */

/* All */
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro';
    font-weight: normal;
}
iframe
{
    border: none !important;
}
div,
button
{
    outline: none !important;
}
section
{
    box-sizing: border-box;
}
ul,ol
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#main
{
    overflow: hidden;
}
.section_link
{
    font-family: 'Baskerville';
    display: block;
    text-decoration: none;
    text-align: center;
}
.section_link.rowed
{
    text-align: left;
    font-size: 22px;

    @include flex();
    @include align-items(center, center);

    i{
        font-size: 30px;
        position: relative;
        top: 3px;
        left: 10px;
        @include transition(0.3s, ease-in-out);
    }
    &:hover
    {
        text-decoration: underline;

        i{
            left: 20px;
        }
    }
}
.section_link.rowed.col_red
{
    color: $red_color;
}
.section_link.rowed.col_blue
{
    color: $blue_section;
}
.section_link.rowed.col_green
{
    color: $green_color;
}




.section_link.red
{
    color: #fff;
    font-size: 24px;
    background: $red_color;
    height: 70px;
    width: 190px;
    line-height: 70px;
    @include transition(0.3s, ease-in-out);

    &:hover
    {
        @include opacity(0.8);
    }
}
h1
{
    margin: 0;
}
.empty
{
    height: 390px;
}
/* /// All */

/* Header */
.header
{
    height: 690px;
    @include background-img('header_bg.jpg');
    padding-top: 180px;
    box-sizing: border-box;
}
.header_inner
{
    max-width: 465px;
    float: right;
    margin-right: 40px;
}
.header_inner_author
{
    font-family: 'Ubuntu';
    color: $black_color;
    font-size: 24px;
    margin: 40px 0 50px;
    display: inline-block;
}
.header_inner_title
{
    font-size: 60px;
    text-transform: uppercase;
    color: $black_color;
}
/* /// Header */

/* Section_1 */
#section_1
{
    height: 550px;
    position: relative;

    @include flex();
    @include align-items(center, center);
    @include justify(start, flex-start);

    .left_column
    {
        position: absolute;
        left: 0;
        top: 0;
    }
    .right_column
    {
        float: right;
    }
}
.info_title
{
    position: relative;

    &::before
    {
        content: "";
        display: block;
        width: 75px;
        height: 5px;
        background: $red_color;
        position: absolute;
        left: -15px;
        top: 10px;
        @include transform(translate, (-100%, -100%));
    }
}
.info_box
{  
    max-width: 445px;
    width: 100%;
    height: 300px;
    float: left;
    font-family: 'Ubuntu';
    color: #666666;
    position: relative;
    right: -30px;
}
.info_description
{
    font-size: 16px;
    line-height: 2;
}
/* /// Section_1 */

/* Section_2 */
#section_2
{
    @include flex();
    @include align-items(center, center);
    @include justify(end, flex-end);

    height: 545px;
    background: #e7f3f8;
    position: relative;

    .info_title
    {
    
        &::before
        {
            content: "";
            background: $blue_section;
        }
    }

    .info_box
    {
        float: left;
        margin: 0;
    }

    .left_column
    {
        float: left;
        margin-left: 90px;
    }

    .right_column
    {
        position: absolute;
        right: 0;
        top: 0;
    }
}
/* /// Section_2 */

/* Section_3 */
#section_3
{
    height: 865px;
    position: relative;

    .slick-dots
    {
        display: none !important;
    }
}
.slider_box
{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate, (-50%, -50%));

    .slide
    {
        width: 100%;

        img
        {
            margin: 0 auto;
            display: block;
        }
        p
        {
            max-width: 580px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: 24px;
            font-family: 'Baskerville';
        }
    }
}
.fake_prev
{
    position: absolute;
    left: -95px;
    top: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid #666666;
    font-size: 45px;
    color: $red_color;
    background: transparent;
    cursor: pointer;
    @include transform(translateY, -50%);

    i{
        position: relative;
        left: 20px;
        top: -1px;
        @include transition(0.3s, ease-in-out);
    }
    
    &:hover
    {
        i{
            left: 13px;
        }
    }
}
.fake_next
{
    @extend .fake_prev;
    left: auto;
    right: -95px;

    i{
        left: auto !important;
        position: relative;
        right: 20px;
        top: -1px;
        @include transition(0.3s, ease-in-out);
    }

    &:hover
    {
        i{
            right: 13px;
        }
    }
}
/* /// Section_3 */

/* Section_4 */
#section_4
{
    height: 510px;
    background: $light_pink_section;
    position: relative;

    .slide
    {
        img
        {
           @include border-radius(50%);
        }
        .comment_name
        {
            color: $red_color;
            font-family: 'Ubuntu';
            font-size: 16px;
            width: 100%;
            text-align: center;
            display: block;
            margin-top: 25px;
        }
        .comment_anno
        {
            text-align: center;
            font-family: 'Ubuntu';
            font-size: 14px;
            color: #666666;
            display: block;
            text-align: center;
            max-width: 255px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}
/* /// Section_4 */

/* Section_5 */
#section_5
{
    height: 825px;
    padding-top: 95px;
    box-sizing: border-box;

    .section_link
    {
        @include justify(center, center);
        margin-top: 70px;
    }
}
.video_box
{
    position: relative;
    max-width: 980px;
    margin: 0 auto;

    .video_overlay
    {
        position: absolute;
        background: rgba(40, 61, 82, 0.6);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;

        &.played
        {
            background: transparent;
        }
    }
    .playPause
    {
        width: 95px;
        height: 95px;
        border: 1px solid #e7e9ea;
        background: transparent;
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate, (-50%, -50%));
        color: $red_color;
        font-size: 60px;
        cursor: pointer;
        @include transition(0.3s, ease-in-out);

        i{
            position: relative;
            left: 3px;
        }

        &:hover
        {
            background: #e7e9ea;
        }

    }
}
/* /// Section_5 */

/* Section_6 */
#section_6
{
    height: 1110px;
    background: $blue_section;
}
/* /// Section_6 */

/* Section_7 */
#section_7
{
    height: 1010px;
    padding-top: 75px;

    p{
        margin: 0;
        margin-left: 90px;
        margin-top: 55px;
        color: #666666;
        font-size: 16px;
        font-family: 'Ubuntu';
        max-width: 475px;
        line-height: 25px;
    }
    .section_link.rowed.col_green
    {
        margin-left: 90px;
        margin-top: 30px;
    }
    .info_title
    {
        margin-top: 0;
        margin-bottom: 70px;
        color: #999999;
        font-family: 'Ubuntu';
        font-weight: normal;
        margin-left: 90px;

        &::before
        {
            background: $green_color;
        }
    }
}
/* /// Section_7 */

/* Section_8 */
#section_8
{
    @extend #section_1;
    @extend #section_4;
}
/* /// Section_8 */

/* Section_9 */
#section_9
{
    @extend #section_2;
    background: $green_section;
    height: 512px;
}
/* /// Section_9 */

/* footer */
.footer
{
    margin-top: -390px;
    padding-top: 75px;
    height: 390px;
    background: $blue_section;
    color: #fff;
    @include flex();
    @include align-items(end, flex-end);
    @include justify(justify, space-between);
    @include flex-direction(vertical, column);

    .info_title
    {
        margin-top: 0px;
        margin-bottom: 75px;
        font-weight: normal;
        font-family: 'Ubuntu';

        &::before
        {
            background: #fff;
        }
    }
}
.foot_top
{
    width: 100%;
    height: 315px;

    .soc_list
    {
        @include flex();
        @include flex-wrap();
        @include justify(justify, space-between);
        max-width: 320px;

        .soc_link
        {
            color: #fff;
            font-size: 40px;
            margin-right: 40px;
            margin-bottom: 40px;
            display: block;
        }
    }
}
.foot_bottom
{
    background: #00a9cb;
    height: 75px;
    width: 100%;
    line-height: 75px;
    color: #fff;
}
/* /// footer */

@import 'responsive.css';
